:root {
  --tlc-bellows-indent-level-offset: 1;
  --tlc-bellows-sub-item-padding-h: 15px;
  --tlc-bellows-indent: 15px;
}

/* ------------------------------- Bellows Widget ----------------------------- */
.bellows.bellows-skin-tlc-skin {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.17);
  font-size: 16px;
}

.bellows.bellows-skin-tlc-skin .bellows-nav {
  & .bellows-menu-item {
    background: white;
  }
  & .bellows-item-level-0 {
    background: theme('colors.tuni-light');
    @apply border-tuni-violet border-0 border-b border-solid;
  }

  & .bellows-target,
  & .bellows-custom-content {
    color: theme('colors.tuni-violet');
  }
  & .bellows-subtoggle {
    width: 3.5rem;
    background: theme('colors.tuni-light');
  }
  & .bellows-menu-item-has-children > .bellows-target {
    padding-right: 3.5rem;
    &> span {
      width: 90%;
    }
  }
  & .bellows-subtoggle {
    color: theme('colors.tuni-violet');
  }
  & .bellows-submenu .bellows-target {
    /* original */
    /*padding-left: calc(var(--bellows-sub-item-padding-h) + (var(--bellows-indent) * (var(--bellows-level) - var(--bellows-indent-level-offset))));*/
    padding-left: calc(var(--tlc-bellows-sub-item-padding-h) + (var(--tlc-bellows-indent) * (var(--bellows-level) - var(--tlc-bellows-indent-level-offset))));

    &:focus, &:hover {
      background: theme('colors.tuni-violet');
      color: white;
    }
  }
  & .bellows-target {
    padding: 10px;

    & .bellows-subtoggle-icon-expand,
    & .bellows-subtoggle-icon-collapse {
      &:before {
        @apply font-ma-icons text-lg;
        font-weight: 600;
        font-style: normal;
      }
    }
    & .bellows-subtoggle-icon-expand:before {
      content: 'expand_more';
    }
    & .bellows-subtoggle-icon-collapse:before {
      content: 'expand_less';
    }
  }

  & .bellows-active > .bellows-target,
  & .bellows-menu-item .bellows-target:hover,
  & .bellows-menu-item .bellows-target:focus {
      background: theme('colors.tuni-violet');
      color: white;
  }

  /* why is this only applied to item-level-0 ? shouldn't it be on all level */
  & .bellows-item-level-0 {
    & .bellows-current-menu-item > .bellows-target,
    & .bellows-current-menu-ancestor > .bellows-target {
      background: theme('colors.tuni-violet');
    }
  }
}
