.components-accessible-toolbar .components-toolbar-group > .components-button.components-button.has-icon, .components-toolbar div > .components-button.components-button.has-icon {
	min-width: 36px;
	padding-left: 6px;
	padding-right: 6px;
	max-width: 36px;
}