/*!
Theme Name: TLC
Author: Joonatan Kuosa
Description:
Version: 1.5.7
Tags:
Text Domain: tlc-custom
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wordpress adds a 32px admin bar on all pages
 * which doesn't play nice with the 100vh, for now this bar appears on top
 * of our real page
 */
html, body {
  @apply min-h-screen m-0 p-0 border-none;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  position: relative;
  scroll-behavior: smooth;
  /* fix anchor links over scrolling */
  scroll-padding-top: 20rem;
}

/* Flexbox configuration for header and footer */
body {
  @apply flex flex-col text-slate-700 bg-white tracking-wide text-base font-body;
}

header {
  @apply flex-shrink-0;
}

footer {
  @apply flex-shrink-0 bg-tuni-light text-tuni-violet mt-auto p-4;
}

main:focus {
  @apply outline-none;
}

.hyphens-manual {
  hyphens: manual;
}

/* Base class for pages and posts : defines the typographic styles */
.content {
}

.cover-media {
  @apply object-cover;
  height: 525px;
}

@media all and (min-width: 768px) {
  .cover-media {
    height: 336px;
  }
}
@media all and (min-width: 1201px) {
  .cover-media {
    height: 400px;
  }
}

.page-title {
  @apply text-3xl font-normal text-center leading-normal py-8;
}

.content article,
.entry-content,
.pum-content {
  & h1 {
    @apply text-3xl font-normal text-center pb-8;
    line-height: 1.45;
    margin: 3rem 0 1.5rem;
  }
  & h2 {
    @apply text-2xl font-semibold text-tuni-violet py-4 leading-normal;
  }
  & h3 {
    @apply text-xl font-semibold py-4 leading-relaxed;
  }
  & h4 {
    @apply text-lg font-normal text-tuni-violet mb-4;
  }
  & h5 {
    @apply text-md font-semibold mb-4;
  }
  & h6 {
    @apply text-sm font-normal mb-4 uppercase;
  }
  & p {
    @apply text-md leading-10 mt-0 mb-12;
  }
}

/* remove paragraph margin if it's followed by a list */
.content article p {
  & + ul, & + ol {
    margin-top: -2.5rem;
  }
}

.content article table {
  & th, & td {
    @apply border border-solid border-black p-2;
  }
}

.content figure {
  @apply mb-8;
  & figcaption {
    @apply text-sm text-center italic;
  }
}

.wp-block-quote {
  @apply text-md m-20 mt-10;
  & p {
    @apply italic text-lg;
    line-height: 3.8rem;
  }
  & cite {
    @apply font-bold text-tuni-violet not-italic pl-20;
  }
}
/* blockquote no side margins on mobile */
@media all and (max-width: 641px) {
  .wp-block-quote {
    @apply mx-0;
  }
}

.force-word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;
}

/* TODO this overrides all link colors (edit button link especially)
 * We need these settings since this is for the content created
 * by the user in the Wordpress editor.
 * The real solution would be to use custom classes for all links:
 * need to check if Wordpress editor creates custom classes.
 *
 * not selector has fucked up logic: it needs exact mathes or the use of
 * direct child (>) selector, otherwise it will find a path by skipping the
 * not element e.g.
 *  :not(nav) a
 *  matches to <nav><div><a> : because it matches to <div> a and <div> is not <nav>
 *  > selector fixes this problem if applied to <a>:s parent
 *
 *  Forbidding buttons is bad for two reasons
 *      1. we have too many different button types
 *      2. we use both <div><a> and <a> for button styles (depending on layout)
 *  Using this ends up with a mess of selectors.
 *  We should instead use more complete selectors (to match WP content)
 *  or restruct the html. Example "Edit" button
 * */
.content p a,
.content table a,
.content ul a,
.mec-event-content a,
.pum-content p a {
  @apply text-tuni-violet underline;

  /* Force break links so they don't create overflow */
  @apply force-word-break;

  &:hover, &:focus {
    @apply text-slate-900;
  }
  &:visited {
    @apply text-slate-500;
  }
}

/* relative positon is necessary for positioning the icon inside the form */
.search-form,
.search-form-round {
  @apply relative;

  &> input {
    text-indent: 36px;
    @apply text-md;
    line-height: 3.6rem;
    border-color: theme('colors.tuni-violet');
    border-width: 3px;
  }

  &> button {
    @apply text-tuni-violet absolute leading-none;
    top: 11px;
    left: 11px;
    &:focus {
      outline: 2px dotted black;
      outline-offset: 2px;
    }
  }
}

.search-form-round input {
  border-radius: 20px;
}

.widget {
  @apply my-2;
}

.link-with-text:before {
  @apply mr-2;
}

.wp-caption-text {
  @apply text-sm leading-7;
}

/* list styling for content and popups; do not override sidebars */
.pum-content,
.entry-content,
.entry-content .wp-block-column,
.entry-content .wp-block-group__inner-container,
.entry-content .ugb-block-content .ugb-accordion__content-inner,
.entry-content .wp-block-stackable-accordion .stk-block-content {
  &> ul {
    @apply ml-12;
  }
  &> ol, &> ul {
    @apply text-md list-disc pb-6 pt-0 force-word-break;
    /* indent sub lists */
    & ul, & ol {
      @apply ml-8 list-circle;
    }
    &+ul, &+ol {
      @apply -mt-6;
    }
  }

  /* replace ordered-list counter */
  & ol {
    @apply ml-4;
    counter-reset: list;
     &> li {
       @apply list-none;
    }
    &> li:before {
      content: counter(list) ") ";
      counter-increment: list;
      @apply mr-2;
    }
  }
  &> figure {
    @apply mb-12;
  }
}

.pum-content strong {
  @apply font-semibold;
}

img {
  @apply text-xs;
}

/******************************** Blog cards *********************************/

/* postit note style that can be applied over the card */
.post-type-note {
  @apply text-sm text-slate-900 bg-violet-200 p-4;
  @apply absolute left-0 top-0 rounded-br-lg border-violet-600 border-r border-b;
}

/******************************** PopupMaker *********************************/
.pum-content {
  & p {
    @apply mt-0 mb-4;
  }
  & li {
    @apply mt-0 mb-2;
  }
}

/* btn should always be a div
 *  because otherwise long texts that have line breaks are messed up
 * The div should have no padding but the link inside the div should have padding
 *  because this makes the whole area clickable.
 */
.btn-base {
  @apply bg-tuni-violet rounded-lg text-white no-underline h-auto;
}

.btn-sec-base {
  @apply bg-white text-tuni-violet;
}

.btn {
  @apply btn-base text-lg;
}
.btn-md {
  @apply btn-base text-md;
}
.btn-sm {
  @apply btn-base text-sm;
}
.btn-sec {
  @apply text-lg;
}

.btn-sec-md {
  @apply text-md;
}

.btn-sec-sm {
  @apply text-sm;
}

.btn,
.btn-md,
.btn-sec,
.btn-sec-md,
.btn-sm,
.btn-sec-sm {
  &:hover {
    @apply shadow-md;
  }
  &> a, &> button {
    @apply py-4 px-12 inline-block w-full outline-none rounded-lg;
    @apply border-tuni-violet border;
  }
  &> a:focus-visible,
  &> button &:focus-visible {
    @apply shadow-md;
  }
}

.btn-sec,
.btn-sec-md,
.btn-sec-sm {
  @apply btn-sec-base;
  &:hover {
    @apply bg-gray-100;
  }
  &> a:focus-visible,
  &> button:focus-visible {
    @apply bg-gray-100;
  }
}

.btn-sm,
.btn-sec-sm {
  &> a, &> button {
    @apply py-2 px-8;
  }
}

.wp-block-buttons {
  @apply justify-center my-10;
}

/* smaller border-width for the block editor buttons */
.wp-block-button.is-style-outline > .wp-block-button__link {
  @apply border;
}

div.wp-block-button {
  @apply text-md text-tuni-violet no-underline h-auto p-0 m-4;

  &> a.wp-block-button__link {
    @apply outline-none;
    &:hover,
    &:focus-visible {
      @apply shadow-md;
      /* need important because wp uses inline styles for these */
      @apply bg-gray-100 !important;
      /* filter isn't useful since we only modify the text */
    }
  }
}

.digipeda-list > li:after {
  content: "";
  white-space: pre;
}

.digipeda-list > li {
  @apply flex justify-items-stretch items-center;
  @apply btn-sec-md w-full;

  &:focus-visible,
  &:hover {
    @apply shadow-lg;
    filter: brightness(92%);
  }
}

.digipeda-list > li:before {
  content: "" !important;
}

.digipeda-list > li a:before {
  content: counter(list) ") ";
}

.digipeda-list > li > a {
  @apply w-full py-4 px-12 inline-block no-underline;
}

/* Text diagram with three text boxes */
figure.text-diagram {
  @apply flex flex-row flex-wrap text-sm;
  & li {
    @apply text-sm;
  }
  &> div > div {
    @apply border-solid border-tuni-violet border-4;
  }
  &> figcaption {
    @apply w-full text-center;
  }
}

@media only screen and (min-width: 768px) {
  figure.text-diagram {
    &> div {
      @apply w-1/3;
      &> div {
        @apply mt-0 mb-40 mr-2;
      }
    }
    &> div:nth-child(2) {
      &> div {
        @apply mt-60 mb-0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  figure.text-diagram {
    @apply flex-col;
    &> div {
      @apply w-full;
      &> div {
        @apply mb-4 mt-4;
      }
    }
  }

  div.wp-block-media-text {
    /* TODO need padding on desktop since there is another object on the otherside
     * on mobile we want no padding */
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.wp-block-image {
  @apply pb-8;
}

.border-on-hover:hover,
.border-on-hover:focus {
  @apply border-2 border-tuni-violet;
}

/* Skip to content button for keyboard accessibility
 * Why is there three different ways to control the visibility: position, size and z?
 * */
a.skip-main {
  left: -999px;
  @apply absolute overflow-hidden top-auto w-1 h-1;
  @apply text-center text-lg z-top;
  @apply outline outline-slate-700;
}
a.skip-main:focus-visible {
  @apply h-auto w-80 bg-white p-4 m-4 left-auto;
}

/* WP forms accessibility fix */
div.wpforms-container-full .wpforms-form span.wpforms-required-label {
  color: #ee0000;
}

#sidebar li p > a {
  @apply underline text-tuni-violet font-bold text-xl;
}

/******************************** Sway iframe *******************************/
/* Full width sway embed on posts
 */
.sway-template iframe {
  @apply absolute top-0 left-0 w-screen max-w-full;
}


/********************************* Table ************************************/
@media screen and (max-width: 600px) {
  table thead {
    @apply hidden;
  }  table td {
    @apply flex;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}

/******************************** Stackable **********************************/
.ugb-accordion__heading {
  @apply bg-gray-100 !important;
  @apply px-8 py-4 !important;
}

.ugb-accordion__content-inner {
  @apply bg-gray-50;
  @apply pb-12 !important;
}

/******************************* admin ***************************************/
@media only screen and (max-width: 767px) {
  #wpadminbar {
    top: -46px;
    @apply absolute;
    &> .screen-reader-shortcut {
      @apply left-0;
    }
  }
}

.entry-content a[target=_blank]:after {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-left: 0.5rem;

  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%234e008e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='42' stroke-dashoffset='42' d='M11 5H5V19H19V13'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='42;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M13 11L20 4'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.3s' values='12;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='8' stroke-dashoffset='8' d='M21 3H15M21 3V9'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.9s' dur='0.2s' values='8;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  fill: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
