#searchbox {
  width: min(500px, 90vw);
}

/* Reference point for other widgets */
#hits-container {
  position: absolute;
  top: 0px;
  z-index: 120;
}

#stats {
  position: absolute;
  top: 0;
  right: 4rem;
  font-size: 1.2rem;
  padding-top: 1.25rem;
}

/* searchbox placeholder size */
.ais-SearchBox-input {
  font-size: 14px !important;
}

div.ais-SearchBox {
  margin-top: 1rem;
  & form.ais-SearchBox-form {
    border-radius: 1rem;
    height: 4rem;

    & input.ais-SearchBox-input {
      font-size: 2rem;
      line-height: 3rem;
      padding-left: 3.5rem;
      height: auto;
    }
    &:before {
      height: 1.6rem;
      width: 1.6rem;
      margin-top: -0.8rem;
      left: 1.6rem;
    }
  }
}

.search-widget {
  z-index: 120;
}

@media (max-width: 767px) {
  div.ais-SearchBox {
    margin-right: 2rem;
    margin-left: 0rem;
    margin-top: 0rem;
  }

  .search-widget {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    &> .search-widget-inner {
      backdrop-filter: blur(4px);
      height: 100%;
      width: 100%;
      &> .searchbox-container {
        width: 90%;
      }
    }
    & button {
      z-index: 150;
      position: fixed;
      top: 8px;
      line-height: 1;
      background: white;
      border-radius: 4px;
      &> span {
        background: inherit;
        color: theme('colors.tuni-violet');
      }
    }
  }
}

#hits {
  background-color: white;
  max-width: 95vw;

  & .ais-Hits-item {
    position: relative;
    padding: 0 ;
    font-size: 1.6rem;
    line-height: 1.2;
    &> a {
      padding: 1rem;
        &> article  {
          &> strong {
            margin-right: 4rem;
            display: block;
          }
      }
    }
  }
}

#hits {
  /* fix the height of the widget so pagination doesn't move */
  height: 56rem;
}

#pagination .ais-Pagination-item {
  line-height: 1;
  z-index: 130;

  & .ais-Pagination-link {
    line-height: 2;
    font-size: 2rem;
    padding: 2rem;
    color: theme('colors.tuni-violet');
    font-weight: 600;
  }
}
