/* -------------------------------- Menus ---------------------------------- */
#menyAvPaa {
  @apply appearance-none z-burger text-tuni-violet hidden font-ma-icons;

  font-size: 4rem;
  line-height: 4rem;

  &:before {
    content: "menu";
  }

  &:checked:before {
    content: "close";
  }

  &:checked {
    &~ #meny {
      @apply duration-700 transition-transform ease-in-out transform translate-x-0;
      @apply visible;
    }
  }
  &:focus {
    @apply border-tuni-light border-2 border-dashed outline-none;
  }
}

#meny {
  @apply text-tuni-violet;

  &> ul > li {
    /* can't be flex because it messes up dekstop layout which needs block for proper margin calculation */
    @apply block m-0 text-md leading-9;

    &> ul {
      @apply normal-case;
    }
  }

  /* TODO sub-menu size should be at least the same as parent link length */
  & .sub-menu {
    @apply block p-0 z-10;
    @apply transition duration-500 ease-in-out;
    @apply right-0 left-auto;
    @apply text-nav-sm;

    & ul {
      @apply relative;
    }
  }

  & ul li {
    @apply p-4;
    &> a {
      @apply inline-block p-4 -m-4;
      @apply pr-16;
    }

    & .sub-menu {
      @apply hidden;
    }
  }

  & a.logo-link {
    &:hover,
    &:focus {
      background-color: unset;
    }
  }

  /* if the menu has a submenu then add an icon '>' and make it clickable */
  & .open-sub-menu {
    @apply font-ma-icons text-xl hidden leading-none appearance-none;

    &:after {
      content: 'add_box';
    }

    &:checked:after {
      content: 'remove';
    }

    &:checked ~ .sub-menu {
      @apply block;
    }
  }

  & .menu-item-has-children {
    &> .open-sub-menu {
      @apply inline-block;
    }
  }
}

@media only screen and (min-width: 950px) {
  #meny {
    &> ul> li {
      @apply relative;

      &> .sub-menu {
        @apply mt-4;
      }
    }

    & .sub-menu {
      @apply border border-black absolute;
      @apply block bg-gray-200 text-tuni-violet m-0 p-0 z-10;
      @apply min-w-sub-menu; /* hack to make short sub links nicer looking */

      & li {
        &> a {
          @apply w-full;
        }
      }

      &> li {
        @apply relative;
        & ul {
          @apply hidden absolute m-0 p-0 top-0 right-full;
        }
      }
    }

    /* Override the first elements to open to the right
     */
    & > ul > li:nth-child(1),
    & > ul > li:nth-child(2),
    & > ul > li:nth-child(3) {
      & .sub-menu {
        @apply left-0;
        &> li > ul {
          @apply left-full;
        }
      }
    }

    /* have to be in the list element otherwise the open submenu checkbox is not highlighted
     * have to set the background colour of the link otherwise padding is not coloured
     * */
    & li:hover,
    & li a:focus-visible {
      @apply z-100 text-white bg-tuni-violet;
    }

    & li a:focus-visible {
      @apply z-100 text-white bg-tuni-violet outline-none rounded-md;
      &+ input {
        @apply text-tuni-violet bg-white;
      }
    }

    /* Hover effects only on large screens, mobile uses checkbox toggles
     * - for keyboard navigation user has to click the sub menu open instead
     * */
    & ul li:hover > .sub-menu {
      @apply block;
    }
  }
}

.shortcut-menu {
  @apply flex flex-row text-base justify-between text-tuni-violet text-center;

  &> li .shortcut-icon:before {
    /* 'location_city' */
    content: '\e7f1';
  }

  &> li:nth-child(2) .shortcut-icon:before {
    /* 'sports_baseball' */
    content: '\ea51';
  }

  &> li:nth-child(3) .shortcut-icon:before {
    /* 'recommend' */
    content: '\e9d2';
  }
  &> li:nth-child(4) .shortcut-icon:before {
    /* 'sports_hockey' */
    content: '\ea2b';

  }
}

@media only screen and (max-width: 949px) {
  #meny {
    @apply bg-tuni-violet text-white m-0 ;
    @apply duration-700 transition-transform ease-in-out transform translate-x-full;
    @apply overflow-auto z-nav invisible overscroll-contain;

    animation: hide-last;

    /* all submenus */
    & ul {
     @apply w-full bg-tuni-violet text-white;
      &> li {
        @apply flex flex-row flex-wrap justify-between w-full ml-6 p-0;
        & input {
          @apply text-white;
        }
        & a {
          @apply w-full m-0;
        }
      }
    }
    /* first submenu */
    &> ul {
      &> li {
        @apply w-80p
      }
    }
  }

  #menyAvPaa {
    display: initial;
  }
}

/* animation that hides the frame on last keyframe instead of first */
@keyframes hide-last {
  99% {
    @apply visible;
  }
  100% {
    @apply invisible;
  }
}

/* Helper classes for the menu */
.meny-left {
  @media only screen and (min-width: 950px) {
    position: absolute;
    left: unset !important;
  }
}

.meny-top {
  @media only screen and (min-width: 950px) {
    position: absolute;
    top: unset !important;
    bottom: 0;
  }
}

/* -------------------------------- Top Menu ----------------------------- */
/* focus-visible has to be in css because it's in the anchor not the list element */
#menu-top-menu > li:hover,
#menu-top-menu > li > a:focus-visible {
  @apply text-violet-100 outline-none underline
}

/* -------------------------------- Rest Menus ----------------------------- */
a.logo-link {
  &:hover,
  &:focus {
    background-color: unset;
  }
}

/************************************* FAB ***********************************/
.fab {
  @apply fixed text-3xl z-10 bottom-8 right-8;
}

.anchor-menu {
  /* TODO final version should't have so much padding, it's for the WP admin menu */
  @apply sticky top-4 flex flex-col justify-between bg-white pb-2 px-2 z-20;

  &> a {
    @apply bg-tuni-violet text-tuni-light px-8 py-2 text-white mb-2 text-sm;
  }
}

/* need top padding because p + list has very small margin
 * requires important because our minify is borked
 * */
.toc-menu {
  @apply p-2;
  @apply pt-6 !important;

  &> li > a {
    @apply border-b border-tuni-violet text-tuni-violet leading-relaxed;

    &:hover, &:focus {
      @apply border-b-4 outline-none;
    }
  }
}

.anchor-menu-side {
  /* TODO final version should't have so much padding, it's for the WP admin menu */
  @apply fixed top-40 right-20 flex flex-col bg-white pt-10 pb-2 px-2 z-20;

  &> a {
    @apply bg-tuni-violet text-tuni-light p-4 text-white mb-8 text-sm;
  }
}

